<html>
<head>
  <title>Video Game Hub</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <style>
    body{
      padding-top: 60px;
        }
  </style>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">Video Games</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li> 
            <li><a href="#Playstation-4">Playstation 4</a></li>
            <li><a href="#Xbox-One">Xbox One</a></li>
            <li><a href="#Wii-U">Wii U</a></li>
       </ul>
    </div>
   </div>
  </nav>

  <div class="container">
       <h1>Video Games</h1>
       <h2>Catalogue</h2>
       <p>Here is a list of popular new releases.</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src={{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
