{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
  <p>These are the popular new Wii U games</p>

<img src="/static/smashbrosu.jpg" alt="Super Smash Bros" style=
"width:200px;height:320px;">

<img src="/static/mariokart8.jpg" alt="Mario Kart 8" style=
"width:200px;height:320px;">

<img src="/static/supermariomaker.jpg" alt="Super Mario Maker" style=
"width:200px;height:320px;">

<img src="/static/supermario3dworld.jpg" alt="Super Mario 3D World" style=
"width:200px;height:320px;">

<img src="/static/windwakerhd.jpg" alt="The Legend of Zelda: Wind Waker" style=
"width:200px;height:320px;">

<img src="/static/starfoxzero.jpg" alt="Star Fox Zero" style=
"width:200px;height:320px;">

<img src="/static/twilightprincesshd.jpg" alt="The Legend of Zelda: Twilight
Princess HD" style=
"width:200px;height:320px;">

<img src="/static/pikmin3.jpg" alt="Pikmin 3" style=
"width:200px;height:320px;">

<img src="/static/splatoon.jpg" alt="Splatoon" style=
"width:200px;height:320px;">

<img src="/static/hyrulewarriors.jpg" alt="Hyrule Warriors" style=
"width:200px;height:320px;">

<img src="/static/bayoneta2.jpg" alt="Bayonetta 2" style=
"width:200px;height:320px;">

<img src="/static/donkeykongcountrytf.jpg" alt="Donkey Kong Country: Tropical
Freeze" style=
"width:200px;height:320px;">

<img src="/static/raymanlegends.jpg" alt="Rayman Legends" style=
"width:200px;height:320px;">

<img src="/static/supermariobrosu.jpg" alt="Super Mario Bros U" style=
"width:200px;height:320px;">

<img src="/static/nintendoland.jpg" alt="Nintendoland" style=
"width:200px;height:320px;">

<img src="/static/yoshiswoollyworld.jpg" alt="Yoshi's Woolly World" style=
"width:200px;height:320px;">

<img src="/static/pokkentournament.jpg" alt="Pokken Tournament" style=
"width:200px;height:320px;">

<img src="/static/xenobladechronicles.jpg" alt="Xenoblade Chronicles X" style=
"width:200px;height:320px;">

<img src="/static/codbo2.jpg" alt="Call of Duty: Black Ops 2" style=
"width:200px;height:320px;">

<img src="/static/thewonderful101.jpg" alt="The Wonderful 101" style=
"width:200px;height:320px;">

<img src="/static/marioandsonic.jpg" alt="Mario and Sonic" style=
"width:200px;height:320px;">

<img src="/static/captaintoad.jpg" alt="Captain Toad: Treasure Tracker" style=
"width:200px;height:320px;">

<img src="/static/wario.jpg" alt="Game and Wario" style=
"width:200px;height:320px;">

<img src="/static/soniclostworld.jpg" alt="Sonic Lost World" style=
"width:200px;height:320px;">

<img src="/static/codghosts.jpg" alt="Call of Duty: Ghosts" style=
"width:200px;height:320px;">

{% endblock %}
